<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>task05</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FrontContoller</display-name>
    <servlet-name>FrontContoller</servlet-name>
    <servlet-class>by.tc.web.controller.FrontContoller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FrontContoller</servlet-name>
    <url-pattern>/FrontContoller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ParserController</display-name>
    <servlet-name>ParserController</servlet-name>
    <servlet-class>by.tc.web.controller.ParserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ParserController</servlet-name>
    <url-pattern>/ParserController</url-pattern>
  </servlet-mapping>
</web-app>